<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DataPlatform"
      connectionString="Server=tcp:indigo-sql-server.database.windows.net,1433;Initial Catalog=data-platform-dev;Persist Security Info=False;User ID=IndigoAdmin;Password=Indigo@dmin;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="cft_MunchkinSecret" value="157-GQE-382" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cft_FormId" value="4605"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cft_MarketoFormPath" value="https://info.microsoft.com/index.php/leadCapture/save/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cft_LeadSource" value="HTTP   POST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>